@charset utf-8;

body {
margin: 0;
padding: 0;
font-family: sans-serif;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
background: url(image/VD2.png) no-repeat fixed;
background-size: cover;
color: #fff;
}
h1 {
color: #fff;
border-bottom: 1px solid rgba(255,255,255,.8);
text-align: center;
margin: 0;
padding: 10px;
font-size: 32px;
}
h2 {
margin: 10px;
color: #ddd;
}
ul {
margin: 0;
padding: 0;
}
li{
margin: 0;
padding: 0;
list-style: none;
}
p {
margin: 5px .5em;
text-align: center;
font-size: 18px;
}
#startGamen h1{
width: 300px;
height: 350px;
margin: 0 auto;
padding: 0;
background: url(image/logo.png) no-repeat;
background-size: contain;
text-indent: -9999px;
border: none;
}
#startGamen .loginBtn{
margin: 0 auto 15px;
width: 80%;
height: 52px;
line-height: 52px;
border-radius: 4px;
text-align: center;
}
#startGamen .loginBtn img{
vertical-align: middle;
padding-right: 10px;
}
#startGamen .loginBtn#tw{
background-color: #67aadd;
color: #fff;
}
#startGamen .loginBtn#fb{
background-color: #3b5998;
color: #fff;
}
#startGamen .loginBtn#gh{
background-color: #FFF;
color: #333;
}

select{
display: block;
width: 90%;
height: 48px;
margin: 0 auto;
border: 1px solid #000;
font-size: 24px;
background: rgba(255,255,255,.7);
border-radius: 0;
}
.disable{
display: none;
}
button{
width: 85%;
display: block;
margin: 15px auto;
height: 48px;
font-size: 24px;
border: 1px solid #333;
background: #15ca66;
color: #fff;
font-weight: bold;
border-radius: 4px;
}
#kyoumiList h3:nth-child(2) {
border-top: 1px solid #999;
}
#kyoumiList h3{
display: none;
}
#kyoumiList{
overflow: auto;
}
#kyoumiList li{
position: relative;
margin: 20px 15px 20px 65px;
padding: 10px 4px 10px 25px;
font-size: 20px;
font-weight: bold;
background: rgba(208,208,208,.8);
color: #222;
border-radius: 4px;
}

#kyoumiList li .likeBtn{
position: absolute;
top:0;
left:-45px;
color: rgba(208,208,208,.8);
font-size: 32px;
}

#kyoumiList li.like{
background: rgba(251,54,64,0.8);
color: #fff;
}
#kyoumiList li.like .likeBtn{
color: rgba(251,54,64,0.8);
}


#personList li.person{
position: relative;
margin: 5px 0;
padding: 10px 4px;
font-size: 20px;
font-weight: bold;
background: rgba(208,208,208,.8);
color: #222;
}
#personList .hito{
display: -webkit-flex;
display: flex;
}
#personList .name{
font-size: 24px;
}
#personList .kyoumi{
margin-left: 5px;
}
#personList .kyoumi li{
color: #666;
font-size: 15px;
display: inline;
}

#personList .account{
position: absolute;
right: 15px;
top:15px;
}
#personList .account li{
width: 24px;
height: 24px;
padding: 5px;
background-size: 24px;
text-indent: -9999px;
overflow: hidden;
display: inline-block;
background-repeat: no-repeat;
background-position: 50%;
box-sizing:content-box;
}
#personList .account li.tw{
background-image: url(image/Twitter.png);
background-color: #67aadd;
color: #fff;
}
#personList .account li.fb{
background-image: url(image/Facebook.png);
background-color: #3b5998;
color: #fff;
}
#personList .account li.gh{
background-image: url(image/Github.png);
background-color: #FFF;
color: #333;
}



#tabMenu{
display: -webkit-flex;
display: flex;
position: fixed;
bottom:0;
left:0;
width: 100%;
font-size: 20px;
}
#tabMenu li{
height: 64px;
line-height: 56px;
text-align: center;
-webkit-flex:1;
flex:1;
background: rgba(255,255,255,.3);
}
#tabMenu li.cur{
background: none;
text-shadow:0 0 50px #fff;
pointer-events:none;
}

