@charset utf-8;

body {
margin: 0;
padding: 0;
font-family: sans-serif;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
background: url(image/VD2.png) no-repeat;
}
#startGamen h1{
width: 300px;
height: 350px;
margin: 0 auto;
background: url(image/logo.png) no-repeat;
background-size: contain;
text-indent: -9999px;
}
#startGamen .loginBtn{
margin: 0 auto 15px;
width: 80%;
height: 52px;
line-height: 52px;
border-radius: 4px;
text-align: center;
}
#startGamen .loginBtn img{
vertical-align: middle;
padding-right: 10px;
}
#startGamen .loginBtn#tw{
background-color: #67aadd;
color: #fff;
}
#startGamen .loginBtn#fb{
background-color: #3b5998;
color: #fff;
}
#startGamen .loginBtn#gh{
background-color: #FFF;
color: #333;
}

h2 {
margin: 10px;
color: #999;
}
ul {
margin: 0;
padding: 0;
}
li{
margin: 0;
padding: 0;
list-style: none;
}
p {
margin: 5px .5em;
}
select{
display: block;
width: 90%;
height: 40px;
margin: 0 auto;
border: 1px solid #000;
font-size: 16px;
background: #fff;
border-radius: 0;
}
.disable{
display: none;
}
button{
width: 85%;
display: block;
margin: 10px auto;
height: 40px;
font-size: 18px;
border: 1px solid #333;
}
#kyoumiList h3:nth-child(2) {
border-top: 1px solid #999;
}
#kyoumiList h3,
#kyoumiList li{
margin: 0;
padding: 10px 15px;
font-size: 18px;
border-bottom: 1px solid #999;
}
#kyoumiList h3{
background-color: #ccc;
}
#kyoumiList li{
padding-left: 25px;
}

#tabMenu{
display: -webkit-flex;
display: flex;
border-top: 1px solid #333;
}
#tabMenu li{
height: 56px;
line-height: 56px;
text-align: center;
flex:1;
}
#tabMenu li:first-child {
border-right: 1px solid #333;
}
